.App {
  text-align: center;
}

.workout-link,
.quote {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

.form-container {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.content {
  margin-top: 30px;
  padding: 30px;
}

.description-box {
  width: 1000px;
  height: 500px;
  margin: auto;
  padding: 10px;
}

.form {
  height: 550px;
  width: 1250px;
  margin: 0 auto;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-registration {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.journal {
  color: whitesmoke;
}

.edit {
  background-color: #4e4e50;
}

.delete {
  background-color: #950740;
}

.lr-links {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.btns {
  display: flex;
  flex-direction: row;
}
